.section {
    text-align: center;
}

form {
    display: grid;
    justify-content: space-around;
    line-height: 2em
    max-width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box
    line-height: 1.5em;
    border: 3px solid red;
    border-radius: 4px;
}