{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
{% endblock %}

{% block content %}
<form action="{% url 'blog:add_category' %}" method="POST">
    {% csrf_token %}
    <p> Please enter name for new category: {{ form.name }} </p>
    <input type="submit" value="Add">
</form>
{% if error %}
    {{error}}
{% endif %}
{% endblock %}