{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
{% endblock %}

{% block content %}
<form action="{% url 'blog:add_post' %}" method="POST">
    {% csrf_token %}
    <p> Category: {{ form.category }} </p>
    <p> Headline: {{ form.headline }} </p>
    <p> Text    : {{ form.text }} </p>
    <input type="submit" value="Add">
</form>
{% if error %}
    {{error}}
{% endif %}




{% endblock %}