{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
{% endblock %}

{% block content %}
<H1>CATEGORIES</H1>
{% for item in all_cat %}
<li>
<a href="{% url 'blog:filter_by_category' cat_id=item.id %}">{{item}}</a>
</li>
{% endfor %}
{% endblock %}