{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
{% endblock %}

{% block content %}
<H3>{{header}}</H3>
{% for item in titles %}
<!--<p>{{item}}</p>-->
<a href="{% url 'blog:detail_view' post_id=item.slug %}">{{item}}</a>
<p>{{item.text|truncatechars:101}}</p>
{% endfor %}

{% endblock %}