{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
{% endblock %}

{% block content %}
<H3>Posts filtered be category: {{category}}</H3>
{% for item in titles %}
<!--<p>{{item}}</p>-->
<p><a href="{% url 'blog:detail_view' post_id=item.slug %}">{{item}}</a></p>
<p>{{item.text|truncatechars:50}}</p>
{% endfor %}

{% endblock %}