{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
{% endblock %}

{% block content %}
<form method="POST" >
    {% csrf_token %}
    <p>Edit post</p>
    <p>{{ form.headline }}</p>
    {{form.category}}
    {{form.text}}
    <button type="submit">Edit</button>
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
  </form>
</div>
{% endblock %}