{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
{% endblock %}

{% block content %}
<H1><p>{{ title.headline }}</p></H1>
<H4>Author: <a href="{% url 'blog:filter_by_user' user_id=title.writer.id %}">
    {{title.writer}}</a></H4>
<p></p>
<H5>Categories for this title:</H5>
{% for item in categories %}
<li>
<a href="{% url 'blog:filter_by_category' cat_id=item.id %}">{{item.name}}</a>
</li>
{% endfor %}
<p></p>
<p>{{ title.text }}</p>
<p><strong>Published:  {{ title.publish }}</strong></p>

<p>SLUG: {{ title.slug }}</p>

{% if author.id == user.id %}
<H3><a href="{% url 'blog:post_update' post_id=title.slug %}">Edit</a></H3>
{% endif %}

{% endblock %}