{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
{% endblock %}


{% block content %}
<H2><strong>ALL TITLES</strong></H2>
{% for item in titles %}
<p>
  <a class="item" href="{% url 'blog:detail_view' item.slug %}">{{item.publish.date}}---
    {{item.headline|upper}} ({{item.writer}})</a>
    {{ item.text|truncatechars:100 }}...
</p>
{% endfor %}
{% endblock %}