<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Searching results</title>
</head>
<body>
<H1>Searching result for {{word}}</H1>
{% for item in data %}
    <ul>
        Purchase:
        <li>purchase_id: {{ item["purchase_id"]}}</li>
        <li>name: {{ item["name"]}}</li>
        <li>category: {{ item["category"] }}</li>
        <li>amount: {{ item['amount'] }}</li>
        <li>price: {{ item['price'] }}</li>
        <li>buyer: {{ item['buyer'] }}</li>
    </ul>
{% endfor %}
</body>
</html>