{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ header }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    {% block static %}
    {% endblock %}
</head>
<body>

<H5>USER: <strong>{{ user }}</strong></H5>
{% block mainmenu %}
<p class="section">
<strong><a href="{% url 'blog:view_all'%}">Main page &nbsp&nbsp&nbsp </a></strong>
<strong><a href="{% url 'blog:all_category_view'%}">All categories &nbsp;&nbsp&nbsp&nbsp </a></strong>
<strong><a href="{% url 'user:signup'%}">Registratiom  &nbsp;&nbsp&nbsp&nbsp</a></strong>
<strong><a href="{% url 'user:login'%}">Login &nbsp;&nbsp&nbsp&nbsp</a></strong>
{% if user.is_active %}
<strong><a href="{% url 'blog:view_add'%}">Add new post  &nbsp;&nbsp&nbsp&nbsp</a></strong>
{% endif %}
{% if user.is_staff %}
    <strong><a href="{% url 'blog:add_category'%}">Add new category  &nbsp;&nbsp&nbsp&nbsp</a></strong>
{% endif %}
<strong><a href="{% url 'user:logout'%}">Logout  &nbsp;&nbsp&nbsp&nbsp</a></strong>
</p>
{% endblock mainmenu %}

{% block content %}
{% endblock content %}

</body>
</html>