{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
{% endblock %}

{% block content %}
<form action="{% url 'user:signup' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Create">
</form>
{% endblock %}