<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>filter</title>
</head>
<body>
<h1> Search results for "<ins>{{word}}</ins>":</h1>
<ul type="circle">
    {% for item in line %}
        {% if word.casefold() in item.casefold() %}
            <li><em>{{ item }}</em></li>
        {% endif %}
    {% endfor %}
</ul>
</body>
</html>