<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first N strings</title>
</head>
<body>
<h1> First {{ number }} line(s) of file: </h1>
<ul type="circle">
    {% for item in list_of_strings %}
        <li><em>{{ item }}</em></li>
    {% endfor %}
</ul>
</body>
</html>
