<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
</head>
<body>
<h1> {{ main_title }} </h1>
<ul type="round">
    {% for item in line %}
        {% if len(item) == 2 %}
            <li><strong>{{ item }}</strong></li>
        {% else %}
            <li><em>{{ item }}</em></li>
        {% endif %}
    {% endfor %}
</ul>
</body>
</html>