{% extends 'base.html' %}

{% block content %}
{{ super() }}

<p> activity: {{data.activity}} </p>
<p> type: {{data.type}} </p>
<p> participants: {{data.participants}} </p>
<p> price: {{data.price}} </p>
<p> key: {{data.key}} </p>
<p> accessibility: {{data.accessibility}} </p>
<p> link: {{data.link}} </p>


{% endblock content %}