<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        {% if title %}
            <title> {{ title }}</title>
        {% else %}
            <title> Unknown page </title>
        {% endif %}
    {% endblock %}
</head>
<body>
{% block content %}
    {% block mainmenu %}
        <ul>
            {% for item in menu %}
        <li><a href="{{item.url}}"> {{item.name}}</a></li>
            {% endfor %}
        </ul>
    {% endblock mainmenu%}
    {% if title %}
        <h1> {{ title }}</h1>
    {% else %}
        <h3> Unknown page </h3>
    {% endif %}
{% endblock%}
</body>
</html>