{% extends 'base.html' %}

{% block content %}
{{ super() }}

<form action="" method="post" novalidate>
        {{ form.deal_type.label }} <br> {{ form.deal_type() }}
    <p>
        {{ form.login() }}
    </p>

{% if data == True %}
    <H3> All your activity for particular activity</H3>
    <ul>
        {% for item in data %}
            <li>{{item.activity}}; {{item.type}}; {{item.date}}.</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}