{% extends 'base.html' %}

{% block content %}
{{ super() }}

<H3> All your activity for {{data[0].date}}</H3>
<ul>
    {% for item in data %}
        <li>{{item.activity}} ({{item.type}}).</li>
    {% endfor %}
</ul>


{% endblock content %}