{% extends 'base.html' %}

{% block content %}
{{ super() }}

<form action="" method="post" novalidate>
        {{ form.deal_type.label }} <br> {{ form.deal_type() }}
    <p>
        {{ form.login() }}
    </p>

{% endblock content %}
