{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% block body %}
<H2>Next categories on your to-do list:</H2>
{% for item in data %}
<p>{{item}}</p>
{% endfor %}
{% endblock body%}

{% endblock content %}
