{% extends 'base.html' %}

{% block content %}
{{ super() }}

<H3> All your activity </H3>
<ul>
    {% for item in data %}
        <li>{{item.activity}}; {{item.type}}; {{item.date}}.</li>
    {% endfor %}
</ul>


{% endblock content %}