<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username() }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password() }}
    </p>
    <p>
        {{ form.login.label }}<br>
        {{ form.login() }}
    </p>
</form>
<form action="" method="post" novalidate>
    <p>
        {{ form.username.label }} <br> {{ form.username(size=20) }}
        <input type="submit" value="Enter">
    </p>
</form>
</body>
</html>



<p>activity: {{ deal.activity }}</p>
<p>type: {{ deal.type }}</p>
<p>participants: {{ deal.participants }}</p>
<p>price: {{ deal.price }}</p>
<p>key: {{ deal.key }}</p>
<p>accessibility: {{ deal.accessibility }}</p>
<p>link: {{ deal.link }}</p>