{% extends 'base.html' %}

{% block content %}
{{ super() }}

<form action="" method="post" novalidate>
    {{ form.category.label }} <br> {{ form.category() }}
<p>
    {{ form.login() }}
</p>
{% endblock content %}
