{% extends 'base.html' %}

{% block content %}
{{ super() }}

<H3> All your activity for "{{key}}" activity type</H3>
<ul>
    {% for item in data %}
    <li>{{item.activity}}.</li>
    {% endfor %}
</ul>


{% endblock content %}